<!-- <app-home></app-home>
<app-second></app-second> -->
<h1>Signup Form</h1>
<!-- <form>
  <div>
    <label for="">Name :</label>
  </div>
  <div>
    <input
      type="text"
      name="name"
      [(ngModel)]="user.name"
      #nameField="ngModel"
      required
    />
  </div>
  {{ user.name }}
  <div>
    {{ nameField.constructor.name }}
    valid:{{ nameField.valid }}
  </div>
  <div>
    invalid:
    {{ nameField.invalid }}
  </div>
  <div>
    {{ nameField.value }}
  </div>
</form> -->
<form #Signupform="ngForm">
  <input
    type="text"
    name="name"
    [(ngModel)]="user.name"
    #nameField="ngModel"
    required
    minlength="4"
    pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    [ngClass]="Signupform.submitted && nameField.invalid ? 'field-error' : ''"
  />

  <!-- <div
    *ngIf="(nameField.touched || nameField.dirty) && nameField.invalid && nameField.errors?.['required']"
    style="color: red"
  >
    Enter Valid name
  </div>
  <div
    *ngIf="(nameField.touched || nameField.dirty) && nameField.invalid && nameField.errors?.['minlength']"
    style="color: red"
  >
    min length is 4
  </div> -->
  <div
    *ngIf="
      (nameField.touched || nameField.dirty || Signupform.submitted) &&
      nameField.invalid
    "
  >
    <div *ngIf="nameField.errors?.['required']" style="color: red">
      Enter Valid name
    </div>
    <div *ngIf="nameField.errors?.['minlength']" style="color: red">
      min length is {{nameField.errors?.['minlength'].requiredLength}} and
      current length is {{ nameField.errors?.['minlength'].actualLength }}
    </div>
    <div *ngIf="nameField.errors?.['pattern']" style="color: red">
      only english alphabet and space allowed
    </div>
  </div>
  <!-- <div>invalid: {{ nameField.invalid }}</div>
  <div>valid: {{ nameField.valid }}</div>
  <div>untouched: {{ nameField.untouched }}</div>
  <div>touched: {{ nameField.touched }}</div>
  <div>pristine: {{ nameField.pristine }}</div>
  <div>dirty: {{ nameField.dirty }}</div>
  <div>dirty: {{ nameField.errors | json }}</div> -->
  <input
    type="text"
    name="email"
    [(ngModel)]="user.email"
    #emailField="ngModel"
    required
    pattern=""
    [ngClass]="Signupform.submitted && emailField.invalid ? 'field-error' : ''"
  />
  <div
    *ngIf="
      (emailField.touched || emailField.dirty || Signupform.submitted) &&
      emailField.invalid
    "
  >
    <div *ngIf="emailField.errors?.['required']" style="color: red">
      Enter Valid email
    </div>
    <div *ngIf="emailField.errors?.['pattern']" style="color: red">
      Invalid email
    </div>
  </div>
  <input type="submit" value="Signup" />
</form>
<hr />
<hr />
<hr />
<app-header></app-header>
<app-products></app-products>
<router-outlet></router-outlet>
